<p style="color: green"><%= notice %></p>

<h2><%= t('common.title')%></h2>

<div id="wines">
  <% @wines.each do |wine| %>
    <%= render wine %>
    <p>
      <%= link_to t('show.wine'), wine %>
    </p>
  <% end %>
</div>

<%= link_to t('new.wine'), new_wine_path %>
