<p style="color: green"><%= notice %></p>

<%= render @wine %>

<div>
  <%= link_to t('edit.wine'), edit_wine_path(@wine) %> |
  <%= link_to t('back.wines'), wines_path %>

  <%= button_to t('destroy.wine'), @wine, method: :delete %>
</div>
